<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Grizzly Test
        link(rel="stylesheet", href="../static/css/main.css")
    body
        .wrapper
            include parts/header.pug
            main
                include parts/about-section.pug
                include parts/catalog.pug
            include parts/footer.pug
        
        script(src="../static/js/libs/jquery.min.js")
        script(src="../static/js/libs/slick.min.js")
        script(src="../static/js/slider.js")
        script(src="../static/js/clear-filter.js")
