.slider__catalog-item
    img(src="../static/images/agregat.png").catalog-item__image
    .catalog-item__text
        h3.catalog-item__title РЕТРОФИТ-КОМПЛЕКТ ДЛЯ СТАНКА 16А20
        p.catalog-item__description Не дорогое ЧПУ, созданное SIEMENS, для конкуренции на азиатском рынке и производится в количестве более 10000 штук в год...
        p.catalog-item__price Цена 
            span.catalog-item__price_highlighted от 6 000 €
        .catalog-item__parameters
            .catalog-item__parameters-item Фрезерный
            .catalog-item__parameters-item 16А20
            .catalog-item__parameters-item ...