.slider__faq-item
    button.faq-item__add-to-file-button
        svg.faq-item__add-to-file-button-svg.icon.icon-flag
            use(xlink:href='../static/images/svg_sprite/symbol/sprite.svg#flag')
    .faq-item__image-wrapper 
        img(src="../static/images/logo.png").faq-item__image
    .faq-item__text
        h3.faq-item__title Готовый файл “Продольно-фрезерные станки РАМА”
        p.faq-item__author И. Иванов, 
            br
            |менеджер по продажам
        .faq-item__parameters
            .faq-item__parameters-item.faq-item__parameters-item_type Продольно-резерный
            .faq-item__parameters-item.faq-item__parameters-item_delivery Поставка
            .faq-item__parameters-item.faq-item__parameters-item_equipment РАМА
            .faq-item__parameters-item.faq-item__parameters-item_else ...