script(src="../static/js/libs/jquery.min.js")
script(src="../static/js/libs/bootstrap.min.js")
script(src="../static/js/libs/slick.min.js")
script(src="../static/js/form.js")
script(src="../static/js/slider.js")
script(src="../static/js/clear-filter.js")