button#pagination-catalog-prev.slider__pagination.slider__pagination_prev
    svg.slider__pagination-svg.icon.icon-arrow-left
        use(xlink:href='../static/images/svg_sprite/symbol/sprite.svg#arrow-left')
#slider-catalog.slider__body
    include catalog-card.pug
    include catalog-card.pug
    include catalog-card.pug
    include catalog-card.pug
    include catalog-card.pug
    include catalog-card.pug
    include catalog-card.pug
    include catalog-card.pug
button#pagination-catalog-next.slider__pagination.slider__pagination_next
    svg.slider__pagination-svg.icon.icon-arrow-right
        use(xlink:href='../static/images/svg_sprite/symbol/sprite.svg#arrow-right')
