button#pagination-faq-prev.slider__pagination.slider__pagination_prev
    svg.slider__pagination-svg.icon.icon-arrow-left
        use(xlink:href='../static/images/svg_sprite/symbol/sprite.svg#arrow-left')
#slider-faq.slider__body
    include faq-card.pug
    include faq-card.pug
    include faq-card.pug
    include faq-card.pug
    include faq-card.pug
    include faq-card.pug
    include faq-card.pug
    include faq-card.pug
    include faq-card.pug
button#pagination-faq-next.slider__pagination.slider__pagination_next
    svg.slider__pagination-svg.icon.icon-arrow-right
        use(xlink:href='../static/images/svg_sprite/symbol/sprite.svg#arrow-right')