button#pagination-about-prev.slider__pagination.slider__pagination_prev
    svg.slider__pagination-svg.icon.icon-arrow-left
        use(xlink:href='../static/images/svg_sprite/symbol/sprite.svg#arrow-left')
#slider-about.slider__body
    video(src="" poster='../static/images/video.png').slider__item
    video(src="" poster='../static/images/video.png').slider__item
    video(src="" poster='../static/images/video.png').slider__item
    video(src="" poster='../static/images/video.png').slider__item
    video(src="" poster='../static/images/video.png').slider__item
    video(src="" poster='../static/images/video.png').slider__item
button#pagination-about-next.slider__pagination.slider__pagination_next
    svg.slider__pagination-svg.icon.icon-arrow-right
        use(xlink:href='../static/images/svg_sprite/symbol/sprite.svg#arrow-right')
